<!-- Education.html -->
<div id="education" class="container text-white py-12 mx-auto px-4">
  <h2 class="text-3xl font-bold mb-6">Education</h2>
  <div class="space-y-8">
    <!-- Education 1 -->
    <div class="bg-gray-800 p-4 rounded-md shadow-md">
      <h3 class="text-xl font-semibold mb-1">Bachelor Computer Science</h3>
      <p class="text-purple-300 mb-1">University of Crete</p>
      <p class="text-sm text-gray-400 mb-2">Duration: September 2013 - Novemeber 2018</p>
    </div>
  </div>
</div>