$dark-jungle-green: #00272bff;
$pale-silver: #d8cbc7ff;
$dark-purple: #1f0318ff;
$vivid-sky-blue: #56cbf9ff;

$light-gray: #bbb;
$dark-gray: #333;

$header-fonts: "Montserrat", sans-serif;
$paragraph-fonts: "Lora", serif;

$bp-large: 93.75em;
$bp-medium: 40.625em;
$bp-small: 31.25em;
