<!-- ContactFooter.html -->
<div class="bg-gray-800 text-white py-12">
  <div class="container mx-auto px-4">
    <div id="contact" class="mb-6">
      <h2 class="text-3xl font-bold mb-6">Contact Me</h2>
      <p class="text-gray-400 mb-4">
        If you have any questions or just want to say hello, feel free to get in touch with me using the contact
        information provided below.
      </p>
      <ul class="space-y-4">
        <li>
          <strong class="text-gray-400">Email:</strong> <a href="mailto:psaradakisj@gmail.com"
            class="text-purple-400 hover:text-purple-300"> Psaradakisj@gmail.com</a>
        </li>
        <li>
          <strong class="text-gray-400">Phone:</strong> +30 (69) 8046-3559
        </li>
        <li>
          <strong class="text-gray-400">Address:</strong> Weesp, Netherlands
        </li>
      </ul>
    </div>

    <footer class="mt-12">
      <p class="text-center text-gray-400">&copy; 2023 Ioannis Christos Psaradakis. All rights reserved.</p>
    </footer>
  </div>
</div>