$navbar-background: #002956;
$navbar-link-color: #04e3ff;
$project-blue: #2760ff;

$project-lift: cubic-bezier(0.5, 0.18, 0.18, 0.5);

$medium-width: 43.75em;
$small-width: 37.5em;
$tiny-width: 31.25em;
