<!-- About.html -->
<div id="about" class="container mx-auto px-4">
  <h2 class="text-3xl font-bold mb-6">About Me</h2>
  <div class="flex flex-wrap md:flex-nowrap justify-between">
    <div class="md:w-1/2 md:pr-8">
      <p class="mb-4 text-gray-300 leading-relaxed">
        I am a passionate and dedicated Front-End Developer with 4 years of professional experience. My focus is on
        creating
        seamless and visually appealing user experiences using my solid foundation in JavaScript (TypeScript), React,
        HTML, and
        CSS (Sass). Skilled in leveraging React and Angular frameworks to deliver scalable and efficient solutions, I
        enjoy the
        continuous learning and challenges that the fast-paced tech industry offers.
      </p>
      <p class="text-gray-300 leading-relaxed">
        In my personal life, I enjoy reading books, exercising, playing board games, and listening to metal music,
        always
        looking for new ways to relax and recharge my creative batteries. </p>
    </div>
    <div class="mt-8 md:mt-0 md:w-1/2">
      <ul class="space-y-4">
        <li>
          <strong class="text-gray-400">Location:</strong> Weesp, Netherlands
        </li>
        <li>
          <strong class="text-gray-400">Email:</strong> <a href="mailto:psaradakisj@gmail.com"
            class="text-purple-400 hover:text-purple-300"> Psaradakisj@gmail.com</a>
        </li>
        <li>
          <strong class="text-gray-400">Phone:</strong> +30 (69) 8046-3559
        </li>
        <li>
          <strong class="text-gray-400">Languages:</strong> Greek (Native), English (Professional), Dutch (Basic)
        </li>
        <li class="flex space-x-4">
          <a href="https://github.com/darthinvader" target="_blank" class="text-purple-400 hover:text-purple-300">
            <ng-icon name="bootstrapGithub" size="60"></ng-icon>

          </a>
          <a href="www.linkedin.com/in/yiannis-psaradakis" target="_blank"
            class="text-purple-400 hover:text-purple-300">
            <ng-icon name="bootstrapLinkedin" size="60"></ng-icon>
          </a>
          <a href="https://drive.google.com/file/d/1qwlhqJn0Ac1jsWpyWSKMN_vndewxecDX/view?usp=share_link"
            target="_blank" class="text-purple-400 hover:text-purple-300">
            <ng-icon name="bootstrapFileEarmarkPdfFill" size="60"></ng-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>

</div>