<section class="experience py-10">
  <h2 class="text-3xl mb-5">Experience</h2>
  <!-- Enreach -->
  <div class="mb-8">
    <h3 class="text-2xl mb-2">Front End Developer</h3>
    <p class="text-lg mb-1">Enreach, Almere, Netherlands (Hybrid Employee)</p>
    <p class="font-bold mb-1">1.5 Years (2021 - Current)</p>
    <ul class="list-disc pl-5">
      <li>Designed, developed, and maintained responsive user interfaces and web applications using React, MUI, Sass,
        CSS, and TypeScript, including the Meetings Project, a real-time video chat web app.</li>
      <li>Collaborated closely with cross-functional teams of developers, designers, and project managers to deliver
        high-quality projects on time and within budget.</li>
      <li>Actively participated in code reviews, unit testing, and debugging to ensure code quality and optimal
        performance of web applications.</li>
      <li>Focused on fostering a positive team environment by engaging with team members, promoting open communication,
        and supporting their personal and professional development.</li>
    </ul>
  </div>
  ...
</section>