<div id="experience" class="container text-white py-12 mx-auto px-4">
  <h2 class="text-3xl font-bold mb-6">Experience</h2>
  <div class="space-y-8">
    <!-- Experience 1 -->
    <div class="bg-gray-800 p-4 rounded-md shadow-md">
      <h3 class="text-xl font-semibold mb-1">Front End Developer</h3>
      <p class="text-purple-300 mb-1">Enreach</p>
      <p class="text-sm text-gray-400 mb-2">Duration: November 2021 - June 2023</p>
      <ul class="list-disc list-inside text-gray-300 leading-relaxed">
        <li>Designed, developed, and maintained responsive user interfaces and
          web applications using React, MUI, Sass, CSS, and Typescript,
          including the Meetings Project, a real-time video chat web app.
        </li>
        <li>Collaborated closely with cross-functional teams of developers,
          designers, and project managers to deliver high-quality projects
          on time and within budget.
        </li>
        <li>Actively participated in code reviews, unit testing, and debugging
          to ensure code quality and optimal performance of web applications.
        </li>
        <li>Focused on fostering a positive team environment by engaging
          with team members, promoting open communication, and
          supporting their personal and professional development.
        </li>
      </ul>
    </div>
    <!-- Experience 2 -->
    <div class="bg-gray-800 p-4 rounded-md shadow-md mt-8">
      <h3 class="text-xl font-semibold mb-1">Python Developer</h3>
      <p class="text-purple-300 mb-1">Convert Group</p>
      <p class="text-sm text-gray-400 mb-2">Duration: November 2019 - December 2021</p>
      <ul class="list-disc list-inside text-gray-300 leading-relaxed">
        <li>Utilized Python and the Scrapy API to build custom web scraping scripts
          that efficiently collected and stored data from eCommerce
          websites into a MySQL database.</li>
        <li>Developed Python scripts for UI automation using the Selenium API,
          with a focus on extracting data from complex and
          dynamic JavaScript-based websites.
        </li>
        <li>Actively participated in code reviews, providing constructive feedback to
          team members and ensuring code quality and consistency</li>
      </ul>
    </div>
    <!-- Experience 3 -->
    <div class="bg-gray-800 p-4 rounded-md shadow-md mt-8">
      <h3 class="text-xl font-semibold mb-1">Java Developer</h3>
      <p class="text-purple-300 mb-1">Tom Sawyer Software</p>
      <p class="text-sm text-gray-400 mb-2">Duration: May 2019 - November 2019</p>
      <ul class="list-disc list-inside text-gray-300 leading-relaxed">
        <li>Designed and implemented APls, data models, and user
          interfaces as part of the development of new features and
          functionality for the Tom Sawyer SOK.
        </li>
        <li>Contributed to the technical documentation and knowledge base
          for the Tom Sawyer SOK, ensuring that it was accurate,
          comprehensive, and accessible to both internal and external users.
        </li>
      </ul>
    </div>
  </div>
</div>