@use '../abstracts/variables';
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@400;600&display=swap");

.heading-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 5rem;
}

.text-light {
  color: variables.$pale-silver;
}

p {
  font-family: "Lora" s;
}
