@use '../abstracts/variables';
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@400;600&display=swap");

.heading-1 {
  font-family: variables.$header-fonts;
  font-weight: 400;
  font-size: 5rem;
}

.heading-2 {
  font-family: variables.$header-fonts;
  font-weight: 400;
  font-size: 3.75rem;
}

.text-light {
  color: variables.$pale-silver;
}

p {
  font-family: variables.$paragraph-fonts;
}
