<!-- Portfolio.html -->
<div id="portfolio" class="container text-white py-12 mx-auto px-4">
  <h2 class="text-3xl font-bold mb-6">Portfolio</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <!-- Project 1 -->
    <a href="https://cocktail-bartender.netlify.app/" target="_blank" class="project-card ">
      <img src="https://i.imgur.com/RP3Z2GJm.png" alt="Project 1 Thumbnail" class="project-thumbnail ">
      <h3 class="text-xl font-semibold mb-1">Bartender App</h3>
      <p class="text-purple-300 mb-2">Developed an app that gives you a random drink from a selected liquor.</p>
      <a href="https://github.com/darthinvader/Bartender" target="_blank" class="text-purple-400 hover:text-purple-300">
        Visit Project Repo
      </a>
    </a>
    <!-- Project 2 -->
    <a href="https://dnd-forge.netlify.app/" target="_blank" class="project-card">
      <img src="https://i.imgur.com/XmK2cIBl.png" alt="Project 2 Thumbnail" class="project-thumbnail">
      <h3 class="text-xl font-semibold mb-1">D&D Forge</h3>
      <p class="text-purple-300 mb-2">A page that hosts a collection of dnd tools.</p>
      <a href="https://github.com/darthinvader/borealis" target="_blank" class="text-purple-400 hover:text-purple-300">
        Visit Project Repo
      </a>
    </a>
    <!-- Project 3 -->
    <a href="https://project3.example.com" target="_blank" class="project-card">
      <img src="https://i.imgur.com/7tmVVNrl.png" alt="Project 3 Thumbnail" class="project-thumbnail">
      <h3 class="text-xl font-semibold mb-1">Online CV</h3>
      <p class="text-purple-300 mb-2">My Online CV ( Current Page ❤️)</p>
      <a href="https://github.com/darthinvader/online-cv" target="_blank" class="text-purple-400 hover:text-purple-300">
        Visit Project Repo
      </a>
    </a>
  </div>
</div>