@import "src/styles.scss";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // Set the default theme to light mode
  @include neumorphism-light;
}

// Style for dark mode
.dark-mode {
  @include neumorphism-dark;
}
