@use "../abstracts/variables";

.header {
  background-image: url("../img/Dices.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  animation-name: images;
  animation-duration: 10s;
  animation-iteration-count: infinite;

  &__paragraph {
    font-size: 1.75rem;
  }
}

@keyframes images {
  0% {
    background-image: url("../img/Dices.jpg");
  }
  25% {
    background-image: url("../img/Dices.jpg");
  }
  50% {
    background-image: url("../img/Programming.jpg");
  }
  75% {
    background-image: url("../img/Programming.jpg");
  }
  100% {
    background-image: url("../img/Dices.jpg");
  }
}
