@use '../../sass/abstracts/variables';

.navbar {
  height: 5rem;
  background-color: variables.$navbar-background;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  display: flex;
  flex-direction: column;
}

.navList {
  margin: 0;
  display: flex;
  font-size: 2.6rem;
  margin-right: 1rem;
  justify-content: space-around;
  align-items: center;
  color: variables.$navbar-link-color;
  a {
    display: inline-block;
    position: relative;
    transition: color 0.3s;
    &:hover {
      color: white;
    }
  }
}

.listUpper {
  a:after {
    content: "";
    display: block;
    height: 1px;
    background: white;
    transition: width 0.3s ease 0s;
    width: 0;
  }
  a:hover:after {
    width: 100%;
  }
}

.middleCircle {
  position: absolute;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: variables.$navbar-background;
  left: 50%;
  top: -2.3rem;
  transform: translateX(-50%);
  z-index: -1;
}
