@use '../../sass/abstracts/variables';

.navbar {
  height: 5rem;
  background-color: variables.$navbar-background;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: variables.$medium-width) {
    display: none;
  }
}

.navList {
  display: flex;
  text-align: center;
  font-size: 2.6rem;
  align-items: center;
  justify-content: space-around;
  color: variables.$navbar-link-color;
  a {
    transition: color 0.3s;
    &:hover {
      color: white;
    }
  }
  a:after {
    content: "";
    display: block;
    height: 1px;
    background: white;
    transition: width 0.3s ease 0s;
    width: 0;
  }
  a:hover:after {
    width: 100%;
  }
}
