html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Light mode colors
$background-light: #e0e5ec;
$text-light: #3b3f45;
$shadow-light-1: #a3abbc;
$shadow-light-2: #ffffff;

// Dark mode colors
$background-dark: #2c2e34;
$text-dark: #e0e5ec;
$shadow-dark-1: #1e2025;
$shadow-dark-2: #40454a;

@mixin neumorphism-light {
  background-color: $background-light;
  color: $text-light;
  box-shadow: 3px 3px 6px $shadow-light-1, -3px -3px 6px $shadow-light-2;
}

@mixin neumorphism-dark {
  background-color: $background-dark;
  color: $text-dark;
  box-shadow: 3px 3px 6px $shadow-dark-1, -3px -3px 6px $shadow-dark-2;
}
