@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: var(--theme-color-primary);
}

@layer base {
  :root {
    --theme-color-primary: #aab9ff;
  }
  [data-theme='dark'] {
    --theme-color-primary: #aab9ff;
  }
}
